<nav class="navbar" *ngIf="user">
  <!--~~~~~NAVBAR FOR MOBILE~~~~~-->
  <div class="mobile--navbar-logo">
    <img
      src="../assets/images/chezie-white-logo.svg"
      alt="mobile chezie logo"
      routerLink="/"
    />
  </div>
  <div class="mobile--menu">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li routerLink="/">
        <mat-icon>home</mat-icon>
        <p>Home</p>
      </li>
      <li routerLink="/members">
        <mat-icon>group</mat-icon>
        <p>Members</p>
      </li>
      <li>
        <mat-icon (click)="logout()">logout</mat-icon>
        <p>Logout</p>
      </li>
    </ul>
  </div>

  <!--~~~~~END NAVBAR FOR MOBILE~~~~~-->
  <!--~~~~~NAVBAR FOR DESKTOP~~~~~-->
  <span routerLink="/" class="navbar-logo"
    ><img src="../assets/images/chezie-white-logo.svg" alt="chezie-logo"
  /></span>
  <span
    routerLink="/"
    routerLinkActive="active-nav-tab"
    [routerLinkActiveOptions]="{ exact: true }"
    class="material-icons-outlined home-icon"
    ><mat-icon>home</mat-icon>
    <p>Home</p></span
  >
  <span
    class="nav-item nav-link material-icons-outlined group-icon"
    routerLink="/members"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active-nav-tab"
    ><mat-icon>group</mat-icon>
    <p>Members</p></span
  >
  <span
    class="nav-item nav-link material-icons-outlined logout-icon"
    (click)="logout()"
    ><mat-icon>logout</mat-icon>
    <p>Logout</p></span
  >
  <!--~~~~~~END NAVBAR FOR DESKTOP~~~~~-->
</nav>
<div>
  <alert> </alert>
  <router-outlet></router-outlet>
</div>
